<div id="recording-container">
  
<video id="recording" width="1024" height="768" controls="">
  <source src="/assets/demo.mov" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
    Your browser does not support the video tag.
</video>
</div>