h2{ padding: 0px}
h3{ padding: 0px}
h6{ 
  margin-bottom: 5px;
  margin-top: 0;
  }


#q-left-show-content{
  float: left;
  margin-left: 3%;
  margin-top: 8%;
}

#q-right-show-content{
  float: right;
}

.users{
  position: absolute;
  right: 5%;
  top: 90px;
  width: 200px;
  height: 65px;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
}

.user-button{
  position: relative;
  padding: 5px;
}

#user1-gbutton{
  display: none;
  position: absolute;
  left: 0px
}
#user2-gbutton{
  display: none;
  position: absolute;
  left: 0px
}
#user3-gbutton{
  display: none;
  position: absolute;
  left: 0px
}
#user4-gbutton{
  display: none;
  position: absolute;
  left: 0px
}
.name{
  font-size: 30px;
  position: absolute;
  left: 60px;
  top: -10px;
}

#user2{ top: 170px; }
#user3{ top: 250px; }
#user4{ top: 330px; }

#quiz-questions{
  margin-top: 7%;
  margin-left: 5%;
}

#quiz-questions img{
  transform: scale(.5);
  margin-bottom: 3px;
  vertical-align: middle;
}

.quiz-name{
  color: SlateGray;
  margin: 0;
}

.question{
  margin: 0;  
}

#input-icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#input-icons img{
  transform: scale(.4);
}

#input-icons li {
  float: left;
}

#response-area{
  position: relative;
  background-color: white;
  top: 100px;
  height: 300px;
  width: 600px;
  border: 3px solid black;
}

#response-text{
  font-size: 30px;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  vertical-align: top;
  left: 0px;
  position: absolute;
}
